{% extends "layouts/login-required.html" %}
{% set page_title = "Account Settings" %}
{% set page_name = "account-settings" %}

{% block content %}
<div id="account-settings-page">
    <div id="account-settings-panel">
        <h3 class="login-settings">Update User Settings</h3>
        <h3 class="group-settings">Update Public Group Membership</h3>
        <h3 class="user-settings">Update User Information</h3>
        <h3 class="network-settings">Update Network Node Membership</h3>
        <div class="form login-settings">
            <div class="form-input">
                <label for="user-email">Email</label>
                <div class="form-input-row">
                    <input id="user-email" type="text" name="email">
                    <button id="user-email-update" class="sm-sq-button update"></button>
                </div>
            </div>
            <div class="form-input" id="password-input">
                <label for="user-password">Password</label>
                <div class="form-input-row">
                    <div class="form-input-wrapper">
                        <input id="user-password" class="password" type="password" name="password">
                        <div class="password-show-toggle"></div>
                    </div>
                    <button id="user-password-update" class="sm-sq-button update"></button>
                </div>
            </div>
        </div>
        <div id="group-settings-container" class="form group-settings">
            <template id="group-template">
                <div class="form-input group-container">
                    <div class="form-input-row">
                        <span class="group-name"></span>
                        <div>
                            <button class="group-join sm-sq-button"></button>
                            <button class="group-leave sm-sq-button"></button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div id="user-info-panel" class="form content-block user-settings">
            <table data-sort="created-asc">
                <tr>
                    <th id="title" class="sortable-column">Title</th>
                    <th id="created" class="sortable-column">Date Created</th>
                    <th id="updated" class="sortable-column">Date Updated</th>
                </tr>
                <template id="row-template">
                    <tr class="row">
                        <td class="row-title"><a></a></td>
                        <td class="row-created"></td>
                        <td class="row-updated"></td>
                    </tr>
                </template>
            </table>
            <div class="button-row">
                <button class="sm-sq-button prev-button" type="button" disabled></button>
                <button class="sm-sq-button next-button" type="button" disabled></button>
            </div>
        </div>
        <form class="form network-settings">
            {# TODO #}
        </form>
        <div id="error-message"></div>
    </div>
    <div id="account-settings-selector-panel">
        <button class="med-button" id="login-settings">Login Settings</button>
        <button class="med-button" id="group-settings">Group Settings</button>
        <button class="med-button" id="user-settings">User Info</button>
        <button class="med-button" id="network-settings">Network Settings</button>
    </div>
</div>
{% endblock %}