{% extends "layouts/account-main.html" %}

{% set help_title = "Help & Support" %}
{% set help_text = "For any help and support related to your account please email your node administrator at:" %}

{% set documentation_title = "Documentation" %}
{% set documentation = [
        {
            "text": "Documentation and Tutorials:",
            "link": "<a class='help-link' href='https://marbleclimate.com/tutorials'>Documentation</a>"
        },
        {
            "text": "Frequently asked questions:",
            "link": "<a class='help-link' href='https://discourse.marbleclimate.com/faq'>FAQ</a>"
        },
        {
            "text": "Report an issue with this website:",
            "link": "<i class='fa-brands fa-github help-link'></i><a class='help-link margin-github-link' href='https://github.com/DACCS-Climate/marble-node-frontend/issues/new'>GitHub Issues</a>"

        }
    ]
%}

{% block account_content %}
    <div class="help-container">
        <div class="help-content">
            <h4>{{ help_title }}</h4>
            <div class="help-entry margin-help-entry">
                <p>{{ help_text|safe }}</p>
                <p><a id="helpContact" class="help-link" href="mailto:{{ configs['node_admin_email'] }}">{{ configs['node_admin_email'] }}</a></p>
            </div>
        </div>

        <div class="documentation-content margin-documentation-content">
            <h4>{{ documentation_title }}</h4>
            {% for doc in documentation %}
            <div class="documentation-entry margin-documentation-entry">
                <p>{{ doc["text"]|safe }}</p>
                <div>{{ doc["link"]|safe }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
