{% extends "layouts/main.html" %}

{% block content %}
    <div class="container">
        <div class="login-container">
            <div class="header-login">
                <h3>{{ configs["node_name"] }}</h3>
            </div>
            <div class="login-content">
                <div class="login-content-left">
                    <div id="divProviderTitle" class="login-provider-only div-provider-title">
                        {% with %}
                            {% set label_text = "Provider Name" %}
                            {% include "partials/label.html" %}
                        {% endwith %}

                        <div id="divProviderInput" class="div-provider-image-name">
                            <img id="loginProviderLogo" class="login-provider-logo margin-login-provider-logo">
                            <label id="loginProviderName" class="subtitle-1" for="hiddenprovidername"></label>
                            <input id="hiddenProviderName" name="hiddenprovidername"  class="provider-name-hidden" type="text" />
                        </div>
                    </div>

                    <div id="divUsernameInput" class="div-login-username-input">
                        {% with %}
                            {% set textbox_type = "reg_input_text" %}
                            {% set textbox_label = "Email or Username" %}
                            {% set tooltip_text = "Enter your Username or Email." %}
                            {% include "partials/textbox.html" %}
                        {% endwith %}
                    </div>

                    <div id="chooseDifferentProvider" class="login-provider-only div-choose-different-provider margin-choose-different-provider" >
                        <a id="openProviderModalLink" class="choose-different-provider subtitle-1">Choose a different provider</a>
                    </div>

                    <div id="divPasswordInput" class="login-email-only div-login-password-input">
                        {% with %}
                            {% set textbox_type = "password_input_text" %}
                            {% set textbox_label = "Password" %}
                            {% include "partials/textbox.html" %}
                        {% endwith %}
                    </div>
                    <div>
                        <span id="loginErrorMessage" class="login-error overline"></span>
                    </div>
                    <div id="divForgotPassword" class="login-email-only login-link-container">
                        <a id="openPasswordResetModalLink" class="login-link subtitle-1">Forgot password?</a>
                        {% if configs["registration_url"] %}
                            <a href="{{ configs['registration_url'] }}" class="login-link  subtitle-1">Register for an account</a>
                        {% endif %}
                    </div>
                    {% if configs["terms-and-conditions"]["url"] or configs["terms-and-conditions"]["text"] %}
                        <div>
                            {% with %}
                                {% if configs["terms-and-conditions"]["url"] %}
                                    {% set checkbox_label = 'By logging in to ' ~ configs["node_name"] ~ ' you accept the <a href="' ~ configs['terms-and-conditions']['url'] ~ '">terms and conditions</a>.' %}
                                {% else %}
                                    {% set checkbox_label = 'By logging in to ' ~ configs["node_name"] ~ ' you accept the <a href="#" id="termsAndConditionsModalLink">terms and conditions</a>.' %}
                                {% endif %}
                                {% set checkbox_id = "termsAndConditionsCheckbox" %}
                                {% include "partials/checkbox.html" %}
                            {% endwith %}
                        </div>
                    {% endif %}
                    <div class="margin-signin-button">
                        {% with button_type = "med_action_button"%}
                            {% set button_id = "buttonSignIn" %}
                            {% set button_label = "Sign In" %}
                            {% include "partials/button.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div id="loginContentRight" class="login-content-right login-provider-background">
                    {% if configs["login-providers"]["enable"] %}
                        <div class="div-login-type-position">
                            <div class="div-login-type-content">
                                <p id="loginTypeTitle">
                                    <span class="login-email-only">Already have an account with a provider?</span>
                                    <span class="login-provider-only">Already have an account?</span>
                                </p>

                                <div id="divProviderButton" class="login-email-only div-provider-button">
                                    {% with button_type = "lg_action_button"%}
                                        {% set button_id = "openProviderModal" %}
                                        {% set button_label = "Select Provider" %}
                                        {% include "partials/button.html" %}
                                    {% endwith %}
                                </div>

                                <div id="divEmailButton" class="login-provider-only div-email-button">
                                    {% with button_type = "lg_action_button"%}
                                        {% set button_id = "buttonSelectEmail" %}
                                        {% set button_label = "Sign In With Email" %}
                                        {% include "partials/button.html" %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include "partials/popup-provider.html" %}
    {% include "partials/popup-password-reset.html" %}
    {% if not configs["terms-and-conditions"]["url"] and configs["terms-and-conditions"]["text"] %}
        {% include "partials/popup-terms-and-conditions.html" %}
    {% endif %}
    <script src="js/login.js"></script>
    <script src="js/ui-styles-scripts.js"></script>
{% endblock %}
