{% extends "layouts/no-login.html" %}
{% set page_title = "Login" %}
{% set page_name = "login" %}

{% block content %}
<div id="login-page">
    <div id="login-panel" class="marble">
        <form class="form" id="login">
            <div class="form-input">
                <label for="user-email">Username or Email</label>
                <input id="user-email" type="text" name="user_name" required>
            </div>
            <div class="form-input" id="password-input">
                <label for="user-password">Password</label>
                <div class="form-input-wrapper">
                    <input id="user-password" class="password" type="password" name="password" required>
                    <div class="password-show-toggle"></div>
                </div>
            </div>
            <div class="form-input" id="provider-select">
                <label for="provider">External Provider</label>
                <div class="select-wrapper">
                    <select name="provider" id="provider" required disabled>
                        <option value=""></option>
                        {% for provider in configs["login_providers"]["providers"] %}
                            <option value="{{ provider | lower }}">{{ provider }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if configs["terms_and_conditions"]["url"] or configs["terms_and_conditions"]["text"] %}
            <label for="terms-and-conditions">
                <input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required>
                I have read and agree to the 
                <a target="_blank" 
                    rel="noopener noreferrer" 
                    href="{{ configs['terms_and_conditions']['url'] | default('terms-and-conditions.html') }}">Terms and Conditions</a>
            </label>
            {% endif %}
            <div id="error-message"></div>
            <button type="submit" class="med-button">Sign In</button>
            {% if configs["registration_url"] %}
                <a target="_blank" 
                    rel="noopener noreferrer" 
                    href="{{ configs['registration_url'] }}">Create Account</a>
            {% endif %}
        </form>
    </div>
    <div id="login-selector-panel">
        {% if configs["login_providers"]["enable"] %}
            <button class="med-button" id="external-login">External Login</button>
            <button class="med-button" id="marble-login">Marble Login</button>
        {% endif %}
    </div>
</div>
{% endblock %}
