{% extends "layouts/login-required.html" %}
{% set page_title = "Publish" %}
{% set page_name = "publish" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.19.3/dist/leaflet-geoman.css"/>
<script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.19.3/dist/leaflet-geoman.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% set timezone_offsets = ['-12:00', '-11:00', '-10:00', '-09:30', '-09:00', '-08:00', '-07:00', '-06:00', '-05:00', '-04:00', '-03:30', '-03:00', '-02:00', '-01:00', '+00:00', '+01:00', '+02:00', '+03:00', '+03:30', '+04:00', '+04:30', '+05:00', '+05:30', '+05:45', '+06:00', '+06:30', '+07:00', '+08:00', '+08:45', '+09:00', '+09:30', '+10:00', '+10:30', '+11:00', '+12:00', '+12:45', '+13:00', '+14:00'] %}

{% block content %}
<div id="publish-panel" class="content-block">
    <h3 class="new-request">Submit a Publication Request</h3>
    <h3 class="edit-request">Edit a Publication Request</h3>
    <div id="request-panel">
        <form class="form">
            <div class="colour-form">
                <div class="form-input">
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" required>
                </div>
                <div class="form-input">
                    <label for="description">Description</label>
                    <textarea id="description" name="description"></textarea>
                </div>
                <div class="form-input">
                    <label for="contact">Contact Email</label>
                    <input id="contact" type="email" name="contact" required>
                </div>
                {% with %}
                    {% set data_type = "author" %}
                    {% set data_label = "Authors" %}
                    {% set data_min_rows = 1 %}
                    {% set data = [
                        {"label": "First Name", "name": "first_name"},
                        {"label": "Last Name", "name": "last_name", "required": True},
                        {"label": "Email", "name": "email", "type": "email"}
                    ] %}
                    {% include "partials/html/input-table.html" %}
                {% endwith %}
                <div class="form-input" id="geometry-input">
                    <label for="geometry-map">Geometry</label>
                    <div id="geometry-map"></div>
                    <textarea id="geometry-geojson"></textarea>
                </div>
                <div class="form-input">
                    <label for="temporal">Temporal Range</label>
                    <div class="form-multi-input-row">
                        <input type="text" id="temporal" required>
                        <div class="select-wrapper">
                            <select id="time-zone" required>
                                {% for offset in timezone_offsets %}
                                <option value="{{offset}}">UTC {{"" if offset == "+00:00" else offset}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% with %}
                    {% set data_type = "asset" %}
                    {% set data_label = "Assets" %}
                    {% set data_min_rows = 1 %}
                    {% set data = [
                        {"label": "ID", "name": "id", "placeholder": "Unique ID ...", "required": True, "unique": True},
                        {"label": "URI", "name": "href", "required": True},
                        {"label": "Title", "name": "title"},
                        {"label": "Description", "name": "description"},
                        {"label": "Media Type", "name": "type", "info_href": "https://www.iana.org/assignments/media-types/media-types.xhtml"},
                        {"label": "Roles", "name": "roles", "type": "textarea", "placeholder": "One per line...", "info_href": "https://github.com/radiantearth/stac-spec/blob/master/commons/assets.md#roles"},
                    ] %}
                    {% include "partials/html/input-table.html" %}
                {% endwith %}
                {% with %}
                    {% set data_type = "link" %}
                    {% set data_label = "Links" %}
                    {% set data = [
                        {"label": "URI", "name": "href", "required": True},
                        {"label": "Title", "name": "title"},
                        {"label": "Media Type", "name": "type", "info_href": "https://www.iana.org/assignments/media-types/media-types.xhtml"},
                        {"label": "Relation", "name": "rel", "required": True, "info_href": "https://www.iana.org/assignments/link-relations/link-relations.xhtml"},
                    ] %}
                    {% include "partials/html/input-table.html" %}
                {% endwith %}
                {% with %}
                    {% set data_type = "properties" %}
                    {% set data_label = "Extra Properties" %}
                    {% set data = [
                        {"label": "Key", "name": "key", "required": True, "placeholder": "Unique Key ...", "unique": True},
                        {"label": "Value", "name": "value", "required": True},
                    ] %}
                    {% include "partials/html/input-table.html" %}
                {% endwith %}
            </div>
            <div id="error-message"></div>
            <div id="end-buttons">
                <button type="submit" class="med-button">Submit</button>
                <button type="reset" id="refresh-content" class="sm-sq-button"></button>
            </div>
        </form>    
    </div>
</div>
{% endblock %}