{% extends "layouts/login-required.html" %}
{% set page_title = "Publish List" %}
{% set page_name = "publish-list" %}

{% block content %}
<div id="publish-list-panel" class="content-block">
    <h3>Publication Requests</h3>
    <table id="publish-table" data-sort="created-asc">
        <tr>
            <th id="title" class="sortable-column">Title</th>
            <th id="created" class="sortable-column">Date Created</th>
            <th id="updated" class="sortable-column">Date Updated</th>
            <th>Status</th>
        </tr>
        <template id="row-template">
            <tr class="row">
                <td class="row-title"><a></a></td>
                <td class="row-created"></td>
                <td class="row-updated"></td>
                <td class="row-status"></td>
            </tr>
        </template>
    </table>
    <div id="button-row">
        <button class="sm-sq-button" id="prev-button" type="button" disabled></button>
        <a class="sm-sq-button" id="new-button" href="publish.html">New</a>
        <button class="sm-sq-button" id="next-button" type="button" disabled></button>
    </div>
</div>
{% endblock %}