{% extends "layouts/account-main.html" %}

{% block account_content %}

    <script src="js/dataproduct-form.js"></script>

    <h3>Publish Files to Red Oak STAC Catalog</h3><br>
    <p> This form allows you to publish datasets, data products and/or workflows to the Marble STAC catalog. Before filling out this form, ensure that the primary file is hosted on Red Oak in your public folder. Supplementary files such as input data can be included as third party links. After submission, a STAC item and citation will be generated and reviewed by admin before being uploaded to the catalog.</p>

    <form id="pointForm" action=""><br>

        <div id="intro" class="border-content-section margin-content-section padding-content-section">
            <label for="username" class="subtitle-1">Red Oak Username (Required) <span class="subtitle-1 required-asterisk">*</span>:</label><br>
            <input type="text" id="username" name="username" class="input-textbox margin-input-field" value="" required><br>
        </div>

        <div id="background" class="border-content-section margin-content-section padding-content-section">
            <h4> Background Information</h4>
            <hr class="margin-title-underline">
            <label for="title" class="subtitle-1">Title (Required) <span class="subtitle-1 required-asterisk">*</span>:</label><br>
            <input type="text" id="title" name="title" class="input-textbox margin-input-field" value="" required><br><br>

            <div class="margin-input-label">
                {% with %}
                    {% set label_text = "Description:" %}
                    {% set tooltip_text = "Include any additional details you want to provide about the STAC item. Similar to an abstract." %}
                    {% include "partials/label.html" %}
                {% endwith %}
                <textarea id="desc" name="desc" class="textarea-geojson margin-input-field"></textarea>
            </div>
        </div>

        <div class="author-group border-content-section margin-content-section padding-content-section">
            <h4>Authors</h4>
            <hr class="margin-title-underline">
            <p>Citation will list authors in order placed here. First author will be contacted by email regarding any issues in the submission.</p>
            <div id="author_box" class="author-parent">
            <!-- Initial author fields -->
                <div id="author_1" class="author-child">
                    <div class="author-details">
                        <label id="label_fname_1" for="fname_1" class="subtitle-1 margin-input-label">First Name (Required) <span class="subtitle-1 required-asterisk">*</span>:</label><br>
                        <input type="text" id="fname_1" name="fname1" class="input-textbox margin-input-field" value="" required><br>
                    </div>
                    <div class="author-details">
                        <label id="label_lname_1"  for="lname_1" class="subtitle-1 margin-input-label">Last Name (Required) <span class="subtitle-1 required-asterisk">*</span>:</label><br>
                        <input type="text" id="lname_1" name="lname1" class="input-textbox margin-input-field" value="" required><br>
                    </div>
                    <div class="author-details">
                        <label id="label_email_1" for="email_1" class="subtitle-1 margin-input-label">Email (Required) <span class="subtitle-1 required-asterisk">*</span>:</label><br>
                        <input type="email" id="email_1" name="email1" class="input-textbox margin-input-field" value="" required><br>
                    </div>
                    <div class="remove-button">
                        <div id="author_remove_container_1" class="display-none">
                            <input type="button" id="author_remove_1" name="author_remove_1" class="button-med d-button-text author-remove-button" value="Remove Author"><br>
                        </div>
                    </div>

                </div>
            </div>
            <div id="addAuthorButtons" class="author-button">
                <input type="button" value="Add Author" class="button-med d-button-text margin-button-add" onclick="addAuthor('author_box');"/>
            </div>
        </div>

        <div id="geometry_class" class="border-content-section margin-content-section padding-content-section">
            <h4> Geometry </h4>
            <hr class="margin-title-underline">
            <p> Information on geometry types can be found here: <a href="https://datatracker.ietf.org/doc/html/rfc7946#section-3.1">RFC 7946, section 3.1</a> </p>
            <p> Longitudes should range from -180 to 180 and latitudes from -90 to 90.</p>
            <p> For complex geometries or sets of points longer than 4, we strongly recommend <a href="https://geojson.io/">generating a geoJSON using this tool</a> and pasting it into the box</p>
            <label for="geometry" class="subtitle-1 margin-input-label">Choose the geometry type (Required) <span class="subtitle-1 required-asterisk">*</span>:</label>
            <div id="select">

                {% with %}
                    {% set banner_search_dropdown_class = "banner-dropdown-list-container"%}
                    {% set dropdown_button_id = "dropdownListDefaultButton" %}
                    {% set dropdown_button_text_id = "dropdownListDefaultButtonText" %}
                    {% set dropdown_default_UL_id = "geometry" %}
                    {% set dropdown_label_text = "Select one" %}
                    {% include "partials/dropdown-publish.html" %}
                {% endwith %}

            </div>
          <div id="geo_bbox">
              <div id="geo_point" class="display-none">
                  <div id="geo_point_content"></div>
              </div>
              <div id="geo_multipoint" class="display-none">
                  <div id="geo_multipoint_content"></div>
              </div>
              <div id="geo_linestring" class="display-none">
                  <div id="geo_linestring_content"></div>
              </div>
              <div id="geo_polygon" class="display-none">
                  <div id="geo_polygon_content"></div>
              </div>
              <div id="geo_json_upload" class="display-none">
                  <div id="geo_json_upload_content"></div>
              </div>
              <div id="geo_null" class="display-none">
                  <div id="geo_null_content"></div>
              </div>
          </div>

          </div>

        <div id="metadata" class="border-content-section margin-content-section padding-content-section">
            <h4> Metadata </h4>
            <hr class="margin-title-underline">
            <h5 class="margin-title"> Temporal Extent</h5>
            <label for="metadata_start_date" class="subtitle-1">Start Date:</label>
            <div class="calendar-container">
                <input id="metadata_start_date" type="datetime-local" name="start_date" class="input-textbox margin-input-field" required/>
                <div id="metadata_start_icon" class="icon-metadata-container">
                    <i class="fa-solid fa-calendar-days icon-metadata-calendar"></i>
                </div>

            </div>

            <label for="metadata_end_date" class="subtitle-1 margin-input-label">End Date:</label>
            <div class="calendar-container">
                <input id="metadata_end_date" type="datetime-local" name="end_date" class="input-textbox margin-input-field" required/>
                <div id="metadata_end_icon" class="icon-metadata-container">
                    <i class="fa-solid fa-calendar-days icon-metadata-calendar"></i>
                </div>

            </div>
            <div id="calender_checkbox_container" class="calendar-checkbox-container">
                {% with %}
                    {# NOTE: The direction_left setting still sets the label on the right of the checkbox for some reason #}
                    {% set checkbox_id = "date_make_equal" %}
                    {% set direction_right = true %}
                    {% set checkbox_text_class = "subtitle-1" %}
                    {% set checkbox_label_text = "End Date Same As Start Date" %}
                    {% include "partials/checkbox.html" %}
                {% endwith %}

                {% with %}
                    {% set checkbox_id = "date_none_needed" %}
                    {% set direction_right = true %}
                    {% set checkbox_text_class = "subtitle-1" %}
                    {% set checkbox_label_text = "No Temporal Data" %}
                    {% include "partials/checkbox.html" %}
                {% endwith %}
            </div>

            <h5 class="margin-title margin-content-section"> Climatological Variables</h5>
            <p class="margin-unset">Examples include temperature, pressure, and relative humidity as well as engineering variables such as cooling degree days. Adding additional variables as relevant is encouraged. Consult this link for standard variable names.</p>
            <div class="margin-input-label">
                {% with %}
                    {% set label_text = "Add variables:" %}
                    {% set tooltip_text = "Add one per line" %}
                    {% include "partials/label.html" %}
                {% endwith %}

                <textarea id="metadata_vars" name="vars" class="textarea-geojson margin-input-field" value=""></textarea>
            </div>

            <h5 class="margin-title margin-content-section"> Models</h5>
            <div>
                {% with %}
                    {% set label_text = "Add relevant climate model data sources:" %}
                    {% set tooltip_text = "Add one per line" %}
                    {% include "partials/label.html" %}
                {% endwith %}
                <textarea id="metadata_models" type="text" name="models" class="textarea-geojson margin-input-field" value=""></textarea>
            </div>
        </div>
        <div id="files" class="border-content-section margin-content-section padding-content-section">
            <h4 class="margin-title"> Linked Files </h4>
            <hr class="margin-title-underline">
            <label for="path" class="subtitle-1"></label><br>
            <div class="margin-input-label">
                {% with %}
                    {% set label_text = "Path to File (Required) <span class='subtitle-1 required-asterisk'>*</span>:" %}
                    {% set tooltip_text = "Primary file to be uploaded to STAC, should be in your public folder" %}
                    {% include "partials/label.html" %}
                {% endwith %}

                <input id="linked_path" name="path" class="input-textbox margin-input-field" value="" required/>
            </div>

            <div class="margin-input-label">
                {% with %}
                    {% set label_text = "Link to inputs (Link to any input data used, can be RedOak or external link):" %}
                    {% set tooltip_text = "Add one per line" %}
                    {% include "partials/label.html" %}
                {% endwith %}

                <textarea id="linked_input" name="input" class="textarea-geojson margin-input-field" value=""></textarea>
            </div>


            <div class="margin-input-label">
                {% with %}
                    {% set label_text = "Linked to any additional files (workflow files):" %}
                    {% set tooltip_text = "Add one per line" %}
                    {% include "partials/label.html" %}
                {% endwith %}
                <textarea id="linked_link" name="link" class="textarea-geojson margin-input-field" value=""></textarea>
            </div>
        </div>
        <br>
        <div><input type="submit"  id="submit" class="button-med d-button-text" value="Submit Form"></div>
        <br>
    </form>


    <script src="js/dataproduct-onpageload.js"></script>

{% endblock %}