{% extends "layouts/account-main.html" %}

{% block account_content %}

    <script src="js/addAuthor.js"></script>
    <script src="js/multi-polygon.js"></script>
    <script>

    function geoPolygon2(selected_geometry) {
        //var selected_geometry = document.getElementById("geometry").selectedIndex;
        console.log(selected_geometry);
        if (selected_geometry == 1) {
            // For Point

            if(document.getElementById("geo_point_content").querySelector(".multipoint-child") != null){
                swapDiv('geo_point');
            }
            else{
                swapDiv('geo_point');
                initializePointInputDiv('point', 'geo_point');
            }

              /*
            document.getElementById('geo_bbox').innerHTML = `
            <h5> Input point: </h5><br>
            <div id="point1" class="child point-child">
                <div class="latitude-child">
                    <label for="bbox1" class="subtitle-1">Latitude (Required):</label>
                    <input type="text" id="lat1" name="lat1" class="input-textbox margin-input-field" value="">
                </div>
                <div class="longitude-child">
                    <label for="bbox2" class="subtitle-1">Longitude (Required):</label>
                    <input type="text" id="lon1" name="lon1" class="input-textbox margin-input-field" value="">
                </div>
            </div>
            `;*/
            document.getElementById('add_button').innerHTML = ``;
           // document.getElementById('upload').innerHTML = ``;

            } else if ([2, 3, 5].includes(selected_geometry)) {


                switch (selected_geometry){
                    case 2:
                        // For MultiPoint
                        if(document.getElementById("geo_multipoint_content").querySelector(".multipoint-child") != null){
                            swapDiv('geo_multipoint');
                        }
                        else{
                            swapDiv('geo_multipoint');
                            initializePointInputDiv('multipoint', 'geo_multipoint');
                        }
                    /*
                        document.getElementById('add_button').innerHTML =
                            `<div id="addMultiPointButtons" class="multipoint-buttons">
                              <input type="button" class="button-med d-button-text" value="Add Point" onclick="addPoint('multipoint', 'geo_multipoint_content');"/>
                             </div>`;*/

                        break;

                    case 3:
                        // For LineString
                        if(document.getElementById("geo_linestring").querySelector(".multipoint-child") != null){
                            swapDiv('geo_linestring');
                        }
                        else{
                            swapDiv('geo_linestring');
                            initializePointInputDiv('linestring', 'geo_linestring');
                        }
                        /*
                        document.getElementById('add_button').innerHTML =
                            `<div id="addMultiPointButtons" class="multipoint-buttons">
                              <input type="button" class="button-med d-button-text" value="Add Point" onclick="addPoint('linestring', 'geo_linestring_content');"/>
                             </div>`;*/

                        break;

                    case 5:
                        // For Polygon
                        if(document.getElementById("geo_polygon_content").querySelector(".multipoint-child") != null){
                            swapDiv('geo_polygon');
                        }
                        else{
                            swapDiv('geo_polygon');
                            initializePointInputDiv('polygon', 'geo_polygon');
                        }
                        /*
                        document.getElementById('add_button').innerHTML =
                            `<div id="addMultiPointButtons" >
                              <input type="button" class="button-med d-button-text" value="Add Point" onclick="addPoint('polygon', 'geo_polygon_content');"/>
                             </div>`;*/

                        break;

                }


/*
              document.getElementById('upload').innerHTML = `
                <h5> OR: GeoJSON bounding box </h5><br>
                <input type="text" id="myFile" name="myFile" class="input-textbox margin-input-field" value="">
              `;*/


            } else if ([4, 6, 7].includes(selected_geometry)) {
                switch (selected_geometry) {
                    case 4:
                        // For MultiLineString
                        if(document.getElementById("geo_multi_linestring_content").querySelector(".upload-geojson-child") != null){
                            swapDiv('geo_multi_linestring');
                        }
                        else{
                            swapDiv('geo_multi_linestring');
                            initializeUploadDiv('geo_multi_linestring');
                        }

                        document.getElementById('add_button').innerHTML = ``;
                        /*document.getElementById('upload').innerHTML = `
                        <h5> GeoJSON bounding box </h5><br>
                        <input type="text" id="myFile" name="myFile" class="input-textbox margin-input-field" value="">
                        `;*/

                        break;

                    case 6:
                        // For MultiPolygon,
                        if(document.getElementById("geo_multi_polygon_content").querySelector(".upload-geojson-child") != null){
                            swapDiv('geo_multi_polygon');
                        }
                        else{
                            swapDiv('geo_multi_polygon');
                            initializeUploadDiv('geo_multi_polygon');
                        }

                        document.getElementById('add_button').innerHTML = ``;
                        /*
                        document.getElementById('upload').innerHTML = `
                        <h5> GeoJSON bounding box </h5><br>
                        <input type="text" id="myFile" name="myFile" class="input-textbox margin-input-field" value="">
                       `;*/

                        break;

                    case 7:
                        // For GeometryCollection
                        if(document.getElementById("geo_geometry_collection_content").querySelector(".upload-geojson-child") != null){
                            swapDiv('geo_geometry_collection');
                        }
                        else{
                            swapDiv('geo_geometry_collection');
                            initializeUploadDiv('geo_geometry_collection');
                        }

                        document.getElementById('add_button').innerHTML = ``;
                        /*
                        document.getElementById('upload').innerHTML = `
                        <h5> GeoJSON bounding box </h5><br>
                        <input type="text" id="myFile" name="myFile" class="input-textbox margin-input-field" value="">
                        `;*/

                        break;

                }

            } else if (selected_geometry == 8) {
                // For Non-Spatial
                if(document.getElementById("geo_null_content").querySelector(".multipoint-child") != null){
                    swapDiv('geo_null');
                }
                else{
                    swapDiv('geo_null');
                    document.getElementById('geo_null_content').innerText = "No bounding box required";
                }
            }
    }



    function updateGeoList() {
        var listLat = [];
        var listLon = [];

        // Select all first name and last name inputs
        var inputs1 = document.querySelectorAll("[name='lat_[]'], #lat_1"); // First name inputs (including the initial one)
        var inputs2 = document.querySelectorAll("[name='lon_[]'], #lon_1"); // Last name inputs (including the initial one)

        inputs1.forEach(input => {
            if (input.value.trim() !== "") {
              listLat.push(input.value.trim()); // Add to first names list
            }
        });

        inputs2.forEach(input => {
            if (input.value.trim() !== "") {
              listLon.push(input.value.trim()); // Add to last names list
            }
        });

        // Store both first and last names as JSON strings
        document.getElementById("listLat").value = JSON.stringify(listLat);
        document.getElementById("listLon").value = JSON.stringify(listLon);
    }

    // Ensure the list is updated before submitting the form
    document.getElementById("pointForm").addEventListener("submit", function() {
        updateGeoList();
    })
    </script>




    <h3>Publish Files to Red Oak STAC Catalog</h3><br>
    <p> This form allows you to publish datasets, data products and/or workflows to the Marble STAC catalog. Before filling out this form, ensure that the primary file is hosted on Red Oak in your public folder. Supplementary files such as input data can be included as third party links. After submission, a STAC item and citation will be generated and reviewed by admin before being uploaded to the catalog.</p>

    <form id="pointForm" action="http://localhost:8000/submit" method="post"><br>

        <div id="intro" class="border-content-section margin-content-section padding-content-section">
            <label for="username" class="subtitle-1">Red Oak Username:</label><br>
            <input type="text" id="username" name="username" class="input-textbox margin-input-field" value="" required><br>
        </div>

        <div id="background" class="border-content-section margin-content-section padding-content-section">
            <h4> Background Information</h4><br>
            <label for="title" class="subtitle-1 margin-input-label">Title:</label><br>
            <input type="text" id="title" name="title" class="input-textbox margin-input-field" value="" required><br><br>
            <label for="desc" class="subtitle-1 margin-input-label">Description:</label><br>
            <p><i>Include any additional details you want to provide about the STAC item. Similar to an abstract.</i></p>
            <input type="text" id="desc" name="desc" class="input-textbox margin-input-field" value=""><br><br>
        </div>

        <div class="author-group border-content-section margin-content-section padding-content-section">
            <h4>Authors</h4><br>
            <p>Citation will list authors in order placed here. First author will be contacted by email regarding any issues in the submission.</p>
            <div id="author_box" class="parent author-parent">
            <!-- Initial author fields -->
                <div id="author_1" class="child author-child">
                    <div class="author-details">
                        <label for="fname_1" class="subtitle-1 margin-input-label">First Name:</label><br>
                        <input type="text" id="fname_1" name="fname1" class="input-textbox margin-input-field" value="" required><br>
                    </div>
                    <div class="author-details">
                        <label for="lname_1" class="subtitle-1 margin-input-label">Last Name:</label><br>
                        <input type="text" id="lname_1" name="lname1" class="input-textbox margin-input-field" value="" required><br>
                    </div>
                    <div class="author-details">
                        <label for="email_1" class="subtitle-1 margin-input-label">Email:</label><br>
                        <input type="text" id="email_1" name="email1" class="input-textbox margin-input-field" value="" required><br>
                    </div>
                    <div class="remove-button">
                        <div id="author_remove_container_1" class="display-none">
                            <input type="button" id="author_remove_1" name="author_remove_1" class="button-med d-button-text author-remove-button" value="Remove Author"><br>
                        </div>
                    </div>

                </div>
            </div>
            <div id="addAuthorButtons" class="author-buttons">
                <input type="button" value="Add Author" class="button-med d-button-text" onclick="addAuthor('author_box');"/>
            </div>

            <input type="hidden" id="authorFNames" name="authorFNames" class="input-textbox margin-input-field">
            <input type="hidden" id="authorLNames" name="authorLNames" class="input-textbox margin-input-field">
            <input type="hidden" id="authorEmails" name="authorEmails" class="input-textbox margin-input-field">
        </div>

        <div id="geometry_class" class="border-content-section margin-content-section padding-content-section">
            <h4> Geometry </h4><br>
            <p> Information on geometry types can be found here: <a href="https://datatracker.ietf.org/doc/html/rfc7946#section-3.1">RFC 7946, section 3.1</a> </p>
            <p> Longitudes should range from -180 to 180 and laitudes from -90 to 90.</p>
            <p> For complex geometries or sets of points longer than 4, we strongly recommend <a href="https://geojson.io/">generating a geoJSON using this tool</a> and pasting it into the box</p>
            <label for="geometry" class="subtitle-1 margin-input-label">Choose the geometry type:</label>
            <div id="select" class="child">

                {% with %}
                    {% set dropdown_type = "default_dropdown_list" %}
                    {% set banner_search_dropdown_class = "banner-dropdown-list-container"%}
                    {% set dropdown_button_id = "dropdownListDefaultButton" %}
                    {% set dropdown_button_text_id = "dropdownListDefaultButtonText" %}
                    {% set dropdown_default_UL_id = "geometry" %}
                    {% set dropdown_label_text = "Select one" %}
                    {% include "partials/dropdown-publish.html" %}
                {% endwith %}

            </div>
          <div id="geo_bbox" class="parent">
              <div id="geo_point" class="parent display-none">
                  <div id="geo_point_content"></div>
              </div>
              <div id="geo_multipoint" class="parent display-none">
                  <div id="geo_multipoint_content"></div>
              </div>
              <div id="geo_linestring" class="parent display-none">
                  <div id="geo_linestring_content"></div>
              </div>
              <div id="geo_multi_linestring" class="parent display-none">
                  <div id="geo_multi_linestring_content"></div>
              </div>
              <div id="geo_polygon" class="parent display-none">
                  <div id="geo_polygon_content"></div>
              </div>
              <div id="geo_multi_polygon" class="parent display-none">
                  <div id="geo_multi_polygon_content"></div>
              </div>
              <div id="geo_geometry_collection" class="parent display-none">
                  <div id="geo_geometry_collection_content"></div>
              </div>
              <div id="geo_null" class="parent display-none">
                  <div id="geo_null_content"></div>
              </div>
          </div>
          <div id="add_button"></div>
          <div id="upload"></div>
          </div>
          <input type="hidden" id="listLat" name="listLat" class="input-textbox margin-input-field">
          <input type="hidden" id="listLon" name="listLon" class="input-textbox margin-input-field">

        <div id="metadata" class="border-content-section margin-content-section padding-content-section">
            <h4> Metadata </h4><br>
            <h5> Temporal Extent</h5>
            <label for="start_date" class="subtitle-1 margin-input-label">Start Date:</label>
            <input type="datetime-local" id="start_date" name="start_date" class="input-textbox margin-input-field" value="" required>
            <label for="end_date" class="subtitle-1 margin-input-label">End Date:</label>
            <input type="datetime-local" id="end_date" name="end_date" class="input-textbox margin-input-field" value="" required><br><br>
            <h5> Climatological Variables</h5>
            <p>Examples include temperature, pressure, and relative humidity as well as engineering variables such as cooling degree days. Adding additional variables as relevant is encouraged. Consult this link for standard variable names.</p>
            <label for="vars" class="subtitle-1 margin-input-label">Add variables as comma separated list:</label>
            <input type="text" id="vars" name="vars" class="input-textbox margin-input-field" value=""><br><br>


            <h5> Models</h5>
            <p>List of relevant climate model data sources (eg CMIP6, EC3)</p>
            <input type="text" id="models" name="models" class="input-textbox margin-input-field" value=""><br>
        </div>
        <div id="files" class="border-content-section margin-content-section padding-content-section">
            <h4> Linked Files </h4><br>
            <label for="path" class="subtitle-1 margin-input-label">Path to File (Primary file to be uploaded to STAC, should be in your public folder):</label><br>
            <input type="text" id="path" name="path" class="input-textbox margin-input-field" value="" required><br>
            <label for="input" class="subtitle-1 margin-input-label">Link to inputs (Link to any input data used (can be RedOak or external link):</label><br>
            <input type="text" id="input" name="input" class="input-textbox margin-input-field" value=""><br>
            <label for="link" class="subtitle-1 margin-input-label">Linked to any additional files (workflow files):</label><br>
            <input type="text" id="link" name="link" class="input-textbox margin-input-field" value=""><br>
        </div>
        <br>
        <div><input type="submit" class="button-med d-button-text" value="Submit Form"></div>
        <br>
    </form>
    <script>
      document.getElementById("pointForm").addEventListener("submit", function () {
          updateGeoList();
      });
      </script>

    <script src="js/publish-dataproduct.js"></script>

{% endblock %}