#new-button {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--black);
    padding-top: 0;
    padding-bottom: 0;
}

{% with %}
    {% set headers = ["title", "created", "updated"] %}
    {% set table_container_id = "publish-list-panel" %}
    {% include "partials/css/table.css" %}
{% endwith %}
