<div class="account-overview-container">
    <div class="account-overview-content">
        <div class="account-overview-top">
            <h4 class="margin-overview-title">My Account</h4>
            <p class="subtitle-1 margin-overview-title">Overview</p>
        </div>

         <div class="account-overview-bottom">
             <div class="account-user-details-row">
                 <p class="subtitle-1">User Name:</p>
                 <p id="account-username"></p>
             </div>
             <div class="account-user-details-row">
                 <p class="subtitle-1">Email:</p>
                 <p id="account-email"></p>
             </div>
        </div>
    </div>
    <script src="js/account.js"></script>
</div>