{% set dropdown_library = {
        "geometry_dropdown":{
            "list_items" :[
                    {
                        "item_label": "Point",
                        "item_id": "geometryPoint"
                    },
                    {
                        "item_label": "Multi-Point",
                        "item_id": "geometryMultiPoint"
                    },
                    {
                        "item_label": "Line String",
                        "item_id": "geometryLineString"
                    },
                    {
                        "item_label": "Polygon",
                        "item_id": "geometryPolygon"
                    },
                    {
                        "item_label": "Upload GeoJSON",
                        "item_id": "geometryGeoJSON"
                    },
                    {
                        "item_label": "Null: Not-spatial file",
                        "item_id": "geometryNull"
                    }
                ]
        },
        "model_dropdown":{
            "list_items":[
                {
                    "item_label": "Input",
                    "item_id": "modelInput_1"
                },
                {
                    "item_label": "Model",
                    "item_id": "modelModel_1"
                },
                {
                    "item_label": "Other",
                    "item_id": "modelOther_1"
                }
            ]
        }
    }
%}



{% if dropdown_type == "geometry_dropdown" or dropdown_type == "model_dropdown" or dropdown_type == "timezone_dropdown"%}
    <div id="{{ container_id }}" class="dropdown-list-container {{ banner_search_dropdown_class }}">

        <div id="{{ dropdown_id }}" class="dropdown">
            <a id="{{ dropdown_button_id }}" class="btn btn-secondary dropdown-toggle padding-unset dropdown-default-list-button dropdown-default-list-icon" role="button" data-bs-toggle="dropdown" data-bs-display="static" data-bs-auto-close="true" aria-expanded="false">
                <h6 id="{{ dropdown_button_text_id }}" class="dropdown-list-title margin-unset padding-unset">
                        {{ dropdown_label_text|safe }}
                </h6>
            </a>
            {% if dropdown_type == "geometry_dropdown" or dropdown_type == "model_dropdown" %}
                <ul id="{{ dropdown_default_UL_id }}" class="dropdown-menu margin-unset padding-unset dropdown-default-list" aria-labelledby="{{ dropdown_button_id }}">

                {% set dropdown_list_items = dropdown_library[dropdown_type]["list_items"] %}

                {% for item in dropdown_list_items %}
                    {% set itemIndex = loop.index %}
                    <li class="dropdown-default-list-item">

                    {% if dropdown_type == "geometry_dropdown" %}
                        <a id="{{ item["item_id"] }}" class="subtitle-1 dropdown-default-list-item-text" role="button" selected_index="{{ itemIndex }}" onclick="geoPolygon2({{ itemIndex }})">
                            {{ item["item_label"]|safe }}
                        </a>
                    {% endif %}

                    {% if dropdown_type == "model_dropdown" %}
                        <a id="{{ item["item_id"] }}" class="subtitle-1 dropdown-default-list-item-text" role="button" selected_index="{{ itemIndex }}"  selected_value="{{ item["item_label"].lower() }}">
                            {{ item["item_label"]|safe }}
                        </a>
                    {% endif %}
                    </li>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var listItem = document.getElementById("{{ item["item_id"] }}");

                            listItem.addEventListener('click', function() {
                                replaceListItem("{{ dropdown_button_text_id }}", "{{ item["item_id"] }}");
                            })
                        });
                    </script>

                {% endfor %}

             {% endif %}

            {% if dropdown_type == "timezone_dropdown" %}
                <ul id="{{ dropdown_default_UL_id }}" class="dropdown-menu margin-unset padding-unset dropdown-default-list dropdown-list-overflow-y" aria-labelledby="{{ dropdown_button_id }}">

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var timezoneSet = new Set();
                        var timezoneSetArray;
                        var dropdownULElement = document.getElementById("{{ dropdown_default_UL_id }}");
                        var generatedTimezonesList = generateTimezoneWithOffset();

                        //Make a new list with only UTC and GMT timezone identifiers
                        generatedTimezonesList.forEach( (generatedTimezoneListItem, generatedTimezoneListIndex) => {
                           timezoneSet.add(generatedTimezoneListItem.offset);
                        });

                        //Sort timezones
                        timezoneSetArray = [...timezoneSet];
                        timezoneSetArray.sort();

                        //Put the timezone offset as an attribute in the anchor tag.  Use it to select the list item
                        //when filling out the form with server data.
                        timezoneSetArray.forEach( (timezoneSetArrayItem, timezoneSetArrayIndex) => {
                            var timezoneName = "";
                            var dropdownLIElement = document.createElement("li");
                            var dropdownAnchorElement = document.createElement("a");
                            var dropdownAnchorID = "{{ dropdown_default_UL_id }}" + "_" + timezoneSetArrayItem;
                            var timezoneOffsetArray = timezoneSetArrayItem.split("GMT");
                            var timezoneOffset = timezoneOffsetArray[1];

                            timezoneName = timezoneSetArrayItem;

                            dropdownLIElement.classList.add("dropdown-default-list-item");

                            dropdownAnchorElement.classList.add("subtitle-1","dropdown-default-list-item-text");
                            dropdownAnchorElement.setAttribute("role", "button");
                            dropdownAnchorElement.setAttribute("selected_index", timezoneName);
                            dropdownAnchorElement.setAttribute("selected_offset", timezoneOffset);
                            dropdownAnchorElement.id = dropdownAnchorID;
                            dropdownAnchorElement.innerText = timezoneName;
                            dropdownAnchorElement.addEventListener('click', function() {
                                replaceListItem("{{ dropdown_button_text_id }}", dropdownAnchorID);
                            });

                            dropdownLIElement.appendChild(dropdownAnchorElement);
                            dropdownULElement.appendChild(dropdownLIElement);
                        });
                    });

                </script>
            {% endif %}

            </ul>
        </div>
    </div>

{% endif %}

<script src="js/dropdown-list.js"></script>