{% set dropdown_library = {
"default_dropdown_list": {
            "container_class":"dropdown-list-container",
            "title_text_class":"dropdown-list-title",
            "title_chevron_class":"dropdown-default-list-icon",
            "list_item_text_class":"",
            "dropdown_button_class":"dropdown-default-list-button",
            "list_class":"dropdown-default-list",
            "list_items":[
                {
                    "item_label": "Point",
                    "item_id": "geometryPoint",
                    "item_value": "Point"
                },
                {
                    "item_label": "Multi-Point",
                    "item_id": "geometryMultiPoint",
                    "item_value": "MultiPoint"
                },
                {
                    "item_label": "Line String",
                    "item_id": "geometryLineString",
                    "item_value": "LineString"
                },{
                    "item_label": "Multi-LineString",
                    "item_id": "geometryMultiLineString",
                    "item_value": "MultiLineString"
                },{
                    "item_label": "Polygon",
                    "item_id": "geometryPolygon",
                    "item_value": "Polygon"
                },{
                    "item_label": "Multi-Polygon",
                    "item_id": "geometryMultiPolygon",
                    "item_value": "MultiPolygon"
                },{
                    "item_label": "Geometry Collection",
                    "item_id": "geometryGeometryCollection",
                    "item_value": "GeometryCollection"
                },{
                    "item_label": "Null: Not-spatial file",
                    "item_id": "geometryNull",
                    "item_value": "null"
                },
            ],
        }
    }
%}



{% if dropdown_type == "default_dropdown_list" %}
    <div id="{{ container_id }}" class="{{ dropdown_library[dropdown_type]["container_class"] }} {{ banner_search_dropdown_class }}">

        <div id="{{ dropdown_id }}" class="dropdown">
        <a id="{{ dropdown_button_id }}" class="btn btn-secondary dropdown-toggle padding-unset {{ dropdown_library[dropdown_type]["dropdown_button_class"] }} {{ dropdown_library[dropdown_type]["title_chevron_class"] }}" role="button" data-bs-toggle="dropdown" data-bs-display="static" data-bs-auto-close="true" aria-expanded="false">
                <h6 id="{{ dropdown_button_text_id }}" class="{{ dropdown_library[dropdown_type]["title_text_class"] }} margin-unset padding-unset">
                        {{ dropdown_label_text|safe }}
                </h6>
            </a>
            <ul id="{{ dropdown_default_UL_id }}" class="dropdown-menu margin-unset padding-unset {{ dropdown_library[dropdown_type]["list_class"] }}" aria-labelledby="{{ dropdown_button_id }}">
                {% for item in dropdown_library["default_dropdown_list"]["list_items"] %}
                    {% set itemIndex = loop.index %}
                    <li class="dropdown-default-list-item">
                        <a id="{{ item["item_id"] }}" class="subtitle-1" role="button" selectedIndex="{{ itemIndex }}" onclick="geoPolygon2({{ itemIndex }})">
                            {{ item["item_label"]|safe }}
                        </a>
                    </li>
                    <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    var listItem = document.getElementById("{{ item["item_id"] }}");

                                    listItem.addEventListener('click', function() {
                                        replaceListItem("{{ dropdown_label_text }}", "{{ dropdown_button_text_id }}", "{{ item["item_id"] }}");
                                       // swapListItems("{#  #}{ dropdown_button_text_id}}", "{#  #}{ item["item_id"] }}");
                                    })
                                });
                            </script>

                {% endfor %}


            </ul>
        </div>
    </div>

{% endif %}
<script src="js/dropdown-list.js"></script>