<div class="menu-container">
    <nav class="navbar navbar-expand-lg rounded">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-md-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="menuItemAccount" class="nav-link" href="index.html"><h6>Account</h6></a>
                    </li>
                    <li class="nav-item">
                        <a id="menuItemSettings" class="nav-link" href="settings.html"><h6>Settings</h6></a>
                    </li>
                    <li class="nav-item">
                        <a id="menuItemHelp" class="nav-link" href="help.html"><h6>Help & Support</h6></a>
                    </li>
                    <li class="nav-item dropdown">
                        {% with button_type = "dropdown"%}
                            {% set button_href = "javascript:void(0)" %}
                            {% include "partials/button.html" %}
                        {% endwith %}
                        <ul class="dropdown-menu dropdown-menu-end login-dropdown-menu">
                            <li class="border-dropdown-title"><p id="dropdownMenuTitle" class="subtitle-1 margin-dropdown-title"></p></li>
                            <li><a class="dropdown-item subtitle-2 margin-dropdown-item" href="settings.html">Edit Profile</a></li>
                            <!-- TODO Uncomment when new Magpie node discovery functionality is pulled in -->
                            <!--<li><a id="openNetworkModalLink" class="dropdown-item subtitle-2" href="#">Network Nodes</a></li>-->
                            <li><a id="openFeedbackModalLink" class="dropdown-item subtitle-2" href="#">Give Feedback</a></li>
                            <li><a id="accountLogoutButton" class="dropdown-item subtitle-2" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% include "partials/popup-feedback.html" %}
<!-- TODO Uncomment when new Magpie node discovery functionality is pulled in -->
{# include "partials/popup-network-node.html" #}
<script src="js/menu.js"></script>
</div>
