<div class="container-fluid w-100">
    <div class="row">
       <div id="nodeServicesContainer" class="d-flex flex-column justify-content-center w-100 node-services-container">

           <h4 class="header-services"><div id="servicesTitle" class="title-services-text services-title-border margin-services-title"></div></h4>

            <div id="services" class="d-flex flex-column flex-lg-row align-items-center justify-content-lg-center w-100 services-margin-div" ></div>
            <template id="node-card-template">
                <div class="d-flex flex-column justify-content-center node-card">
                    <h5 id="node-card-template-name" class="margin-node-card-title"></h5>
                    <p id="node-card-template-description"></p>
                    <div class="d-flex align-items-lg-end services-button services-button-margin">
                        <a id="node-card-template-link" class="btn text-primary border border-dark rounded caption node-card-link-button">
                            Link
                        </a>
                        <a id="node-card-template-doc" class="btn text-primary border border-dark rounded caption node-card-doc-button">
                            Documentation
                        </a>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <script src="js/node.js"></script>
</div>
