<dialog id="deleteAttentionModal">
    <div class="popup-attention-container">

        <div class="popup-attention-content-container">
            <div class="popup-button-close">
                {% with button_type = "close_button_x"%}
                    {% set button_id = "closeDeleteModal" %}
                    {% include "partials/button.html" %}
                {% endwith %}
            </div>
            <h4 class="header-text-white margin-header-bottom-50 margin-unset-default">{{ popup_attention_title }}</h4>
            <div class="popup-attention-logo margin-popup-content"></div>
            <div class="popup-attention-message">{{ popup_attention_message|safe }}</div>
            <div class="margin-popup-button">
                {% with button_type = "med_delete_button_red_no_icon"%}
                    {% set button_label = "DELETE" %}
                    {% set button_id = "deleteUserButton" %}
                    {% include "partials/button.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
<script src="js/modal.js"></script>
<script src="js/modal-delete.js"></script>
</dialog>