
<div class="popup-network-container">
    <div class="network-close-button-container">
        <div class="popup-button-close">
            {% with button_type = "close_button_x"%}
                {% set button_href = "javascript:void(0)" %}
                {% include "partials/button.html" %}
            {% endwith %}
        </div>
    </div>
    <div>
        <table class="popup-network-content">
            <!--Used to set different widths for columns in different rows-->
            <colgroup class="popup-network-colgroup">
                <col><col>
                <col><col>
                <col><col>
                <col><col>
                <col><col>
                <col><col>
                <col><col>
                <col><col>
                <col><col>
                <col><col>
            </colgroup>
            <thead class="popup-network-header ">
                <tr class="padding-header-row">
                    <th class="subtitle-1" colspan=7>Network Name</th>
                    <th class="subtitle-1" colspan=7>User Name</th>
                    <th class="subtitle-1" colspan=6>Action</th>
                </tr>
            </thead>
            <tbody class="popup-network-body">
                {% with %}
                    {% set node_name = "UofT" %}
                    {% set user_name = "User 1" %}
                    {% set button_type = "med_delete_button" %}
                    {% include "partials/popup-network-entry.html" %}
                {% endwith %}

                {% with %}
                    {% set node_name = "Hirondelle" %}
                    {% set user_name = "User 2" %}
                    {% set button_type = "med_delete_button" %}
                    {% include "partials/popup-network-entry.html" %}
                {% endwith %}

                {% with %}
                    {% set node_name = "PAVICS" %}
                    {% set user_name = "User 2" %}
                    {% set button_type =  "med_action_button" %}
                    {% set button_label = "Create" %}
                    {% include "partials/popup-network-entry.html" %}
                {% endwith %}
            </tbody>
        </table>
    </div>
</div>