{% set popup_password_title = "Reset Password" %}
{% set popup_password_message = "Please write us an email to reset your password." %}
<dialog id="passwordResetModal" class="dialog-password-reset" >
    <div class="popup-password-container">
        <div class="password-close-button-container">
            <div class="popup-button-close">
                {% with button_type = "close_button_x"%}
                    {% set button_id = "closePasswordResetModal" %}
                    {% include "partials/button.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="popup-password-content">
            <h4 class="header-text-white margin-unset-default">{{ popup_password_title }}</h4>
            <p class="margin-password-message">{{ popup_password_message }}</p>
            <h5><a id="passwordResetEmail" class="margin-password-email" href=""></a></h5>
        </div>
    </div>
    <script src="js/modal.js"></script>
    <script src="js/modal-password-reset.js"></script>
</dialog>