{% if textbox_type == "password_input_text" %}
    {% set input_textbox_id = input_textbox_id | default("userPassword") %}
    {% set textbox_name = "userpassword" %}
    {% set input_type = "password" %}
    {% set input_class = "textbox-password-padding" %}
{% else %}
    {% set input_textbox_id = input_textbox_id | default("userName") %}
    {% set textbox_name = "username" %}
    {% set input_type = "text" %}
    {% set input_class = "textbox-padding" %}
{% endif %}

<div class="textbox-container">
    <div class="textbox-label-icon">
        <label class="textbox-label margin-textbox-label subtitle-1" for="{{ textbox_name }}">
            {{ textbox_label }}
        </label>

        {% if tooltip_text %}
            <a tabindex="0" class="button-more-information" role="button" data-toggle="popover" data-bs-trigger="focus"
                    data-bs-placement="right" data-bs-content="{{ tooltip_text }}">
                <i class="fa-solid fa-circle-info icon-more-information margin-icon-more-information" ></i>
            </a>
        {% endif %}
    </div>
    <div class="textbox-field-container">
        <input type='{{ input_type }}' id="{{ input_textbox_id }}" name="{{ textbox_name }}" class="input-textbox {{ input_class }}"/>
        {% if input_type == "password" %}
            <div id="eyeIconContainer" class="icon-eye-position">
                <div id="passwordVisibilityIcon" class="icon-eye-slash"></div>
            </div>
        {% endif %}
    </div>
    {% if caption %}
        <div><p id="textboxCaption" class="overline margin-textbox-caption">{{ caption|safe }}</p></div>
    {% endif %}
</div>
