/*Legacy styles from design*/
:root {

    /*Fonts*/
    --main-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --secondary-font-family: Helvetica, Arial, sans-serif;
    --light-font-weight: 300;
    --h3-reg-font-weight: 300;
    --reg-font-weight: 400;
    --h4-bold-font-weight: 500;
    --med-font-weight: 500;
    --h6-bold-font-weight: 700;
    --line-height-normal: normal;
    --line-height-body1: 25px;

    /*Borders*/
    --elevation-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    --elevation-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);

    --d-elevation-1: 0px 3px 4px 0px rgba(136, 144, 194, 0.25), 0px 5px 15px 0px rgba(37, 44, 97, 0.25);
    --d-elevation-2: 0px 3px 8px 0px rgba(136, 144, 194, 0.25), 0px 7px 21px 0px rgba(37, 44, 97, 0.20);
    --d-elevation-3: 0px 3px 8px 0px rgba(178, 0, 2, 0.12), 0px 7px 21px 0px rgba(178, 0, 2, 0.12);

    --account-overview-elevation: 0px 9px 12px 0px rgba(0, 0, 0, 0.20);
    --login-elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --password-elevation: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --border-black: 1px solid #000000;
    --textbox-border-radius: 5px;

    --corner: 1em;

    /*Shadows*/
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --dropdown-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /*Backgrounds*/
    --background: #FFFFFF;
    --background-black: #000000;
    --background-transparent: transparent;
    --background-blur: blur(15px);
    --background-blur-mobile: blur(15px);
    --backdrop-filter-provider: blur(7.5px);
    --backdrop-filter-attention: blur(2px);
    --backdrop-filter-feedback: blur(2px);
    --backdrop-filter-password: blur(12.5px);
    --backdrop-filter-network: blur(7.5px);

    /*Colours*/

    /*General Use*/
    --alert-background: #F6DC3D;
    --black: #000000;
    --black-opacity-lighter: rgba(0, 0, 0, 0.18);
    --black-opacity-light: rgba(0,0,0,0.25);
    --black-opacity-mid-light: rgba(0,0,0,0.30);
    --black-opacity-mid: rgba(0, 0, 0, 0.50);
    --black-opacity-mid-dark: rgba(0, 0, 0, 0.75);
    --black-opacity-darker: rgba(0, 0, 0, 0.8);
    --opaque-light-grey: rgba(255,255,255, 0.3);
    --white-opacity-light: rgba(255, 255, 255, 0.18);
    --white-opacity-darker: rgba(255, 255, 255, 0.85);
    --red-opacity-mid: rgba(178, 0, 2, 0.50);
    --primary-opacity-light: rgba(48, 79, 254, 0.12);
    --primary-opacity-midlight: rgba(48, 79,245, 0.35);
    --linear-gradient-black: linear-gradient(90deg,transparent, #000000, transparent);
    --linear-gradient-marble: linear-gradient(90deg, #3F6BAE 3%, #6DA39F 33.33%, #D89E37 66.67%, #823628 100%);
    --white: #FFFFFF;

    /*Opacity Swatches*/
    --indigo250-opacity-light: rgba(136, 144, 194, 0.25);

    /*Colours for Elements*/
    --surface: #FFFFFF;
    --error: #B20002;
    --text-on-primary: #FFFFFF;
    --text-on-primary-alt: #536DFE;
    --text-on-secondary: #000000;
    --text-on-background: #000000;
    --text-on-surface: #000000;
    --text-on-error: #FFFFFF;
    --text-on-dark: #FFFFFF;
    --primary: #304FFE;
    --primary-alt: #C5CAE9;
    --primary-variant: #283593;
    --secondary: #03DAC6;
    --secondary-variant: #018786;

    /*Colour Swatches*/
    --indigo-50: #E8EAF6;
    --indigo-100: #C5CAE9;
    --indigo-200: #9FA8DA;
    --indigo-300: #7886CB;
    --indigo-400: #5C6BC0;
    --indigo-500: #4050B5;
    --indigo-600: #3949AB;
    --indigo-700: #303F9F;
    --indigo-800: #283593;
    --indigo-900: #1A237E;
    --indigo-A100: #8C9EFF;
    --indigo-A200: #536DFE;
    --indigo-A400: #3D5AFE;
    --indigo-A700: #304FFE;

    --teal-50: #E0F2F1;
    --teal-100: #B2DFDB;
    --teal-200: #80CBC4;
    --teal-300: #4DB6AC;
    --teal-400: #26A69A;
    --teal-500: #009688;
    --teal-600: #00897B;
    --teal-700: #00796B;
    --teal-800: #00695C;
    --teal-900: #004D3F;
    --teal-A100: #A7FFEB;
    --teal-A200: #64FFDA;
    --teal-A400: #1DE9B6;
    --teal-A700: #00BFA5;

    --deep-orange-50: #FBE9E6;
    --deep-orange-100: #FFCCBC;
    --deep-orange-200: #FFAB91;
    --deep-orange-300: #FF8A65;
    --deep-orange-400: #FF7043;
    --deep-orange-500:  #FF5722;
    --deep-orange-600: #F4511E;
    --deep-orange-700: #E64A19;
    --deep-orange-800: #D94214;
    --deep-orange-900: #BF360D;
    --deep-orange-A100: #FF9E80;
    --deep-orange-A200: #FF6E40;
    --deep-orange-A400: #FF3D00;
    --deep-orange-A700: #DD2C00;

    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #757575;
    --gray-800: #424242;
    --gray-900: #212121;

    /*login page display toggles*/
    --login-email-only: flex;
    --login-provider-only: none;
}

/*Global Styles*/
/*Spacing*/
.margin-unset{
    margin: unset;
}

.padding-unset{
    padding: unset;
}

/*Custom Styles*/
p{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 16px;
    letter-spacing: 0.024px;
    line-height: var(--line-height-body1);
    margin-bottom: 0px !important;
}

.body-1{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 16px;
    letter-spacing: 0.024px;
    line-height: var(--line-height-body1);
}

.body-2{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 14px;
    letter-spacing: 0.014px;
    line-height: var(--line-height-normal);
}

h1{
    font-family: var(--secondary-font-family);
    font-weight: var(--light-font-weight);
    font-size: 96px;
    letter-spacing: -1.44px;
    line-height: var(--line-height-normal);
}

h2{
    font-family: var(--main-font-family);
    font-weight: var(--light-font-weight);
    font-size: 60px;
    letter-spacing: -0.3px;
    line-height: var(--line-height-normal);
}

h3{
    font-family: var(--main-font-family);
    font-weight: var(--h3-reg-font-weight);
    font-size: 48px;
    line-height: var(--line-height-normal);
}

h4{
    font-family: var(--main-font-family);
    font-weight: var(--h4-bold-font-weight);
    font-size: 34px;
    letter-spacing: 0.085px;
    line-height: var(--line-height-normal);
}

h5{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 24px;
    line-height: var(--line-height-normal);
}

h6{
    font-family: var(--secondary-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 20px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
}

.subtitle-1, .leading-text-1{
    font-family: var(--main-font-family);
    font-weight: var(--med-font-weight);
    font-size: 16px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
}

.subtitle-2, .leading-text-2{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 14px;
    letter-spacing: 0.014px;
    line-height: var(--line-height-normal);
}

.d-button-text{
    font-family: var(--main-font-family);
    font-weight: var(--med-font-weight);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

.d-button-alt-text{
    font-family: var(--main-font-family);
    font-weight: var(--h6-bold-font-weight);
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.button{
    font-family: var(--main-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--med-font-weight);
    line-height: var(--line-height-normal);
    letter-spacing: 0.15px;
    text-transform: uppercase;
}

.caption{
    font-family: var(--main-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--reg-font-weight);
    line-height: var(--line-height-normal);
    letter-spacing: 0.048px;
    text-transform: capitalize;
}

.overline{
    font-family: var(--main-font-family);
    font-size: 10px;
    font-style: normal;
    font-weight: var(--reg-font-weight);
    line-height: var(--line-height-normal);
    letter-spacing: 0.15px;
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
/*End legacy styles from design*/

/*Used in button template partial*/
.margin-button-arrow{
    margin-left: 12px;
}

/*Override Fontawesome*/
.fa-solid, .fa-regular{
    line-height: var(--line-height-normal);
}

/*Menu*/
.menu-container{
    width: 1156px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: var(--white);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--gray-500);
}

.nav-item{
    margin-right: 70px;
}

.nav-link{
    display: flex;
    width: 276px;
    height: 95px;
    justify-content: center;
    align-items: center;
    color: var(--text-on-surface);
}

.navbar-nav li a h6{
    margin: unset;
}

.navbar-nav li a:hover{
    color: var(--primary);
    background-color: var(--primary-opacity-light);
}

/*Used in menu.js*/
.nav-item-highlight{
    color: var(--primary);
    background-color: var(--primary-opacity-light);
}

/*Dropdown Menu*/
.margin-dropdown-title{
    margin-bottom: 30px
}

.border-dropdown-title{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--black);
}

.login-dropdown-menu{
    width: 316px;
    padding-left: 27px;
    padding-top: 35px;
    padding-right: 27px;
    padding-bottom: 35px;
    border-radius: 10px;
    box-shadow: var(--elevation-1);
}

.dropdown-item{
    padding: 0px;
}

.login-dropdown-menu li a:hover{
    color: var(--primary);
    background-color: var(--background-transparent);
}

.login-dropdown-menu li:not(:first-child){
    margin-top: 30px;
}


.dropdown-menu{
    --bs-dropdown-zindex: 0;
    --bs-dropdown-border-width:0px;
    --bs-dropdown-border-radius: 0px;
    --bs-dropdown-bg: var(--background-transparent);
    z-index:var(--bs-dropdown-zindex);
    position: relative !important;
    margin-top: 0px !important;
}

/*Override bootstrap*/
.dropdown-menu[data-bs-popper]{
    top: 0 !important;
}

.hidden-field{
    visibility: hidden
}

/*Body*/

.display-flex{
    display: flex;
}

.display-none{
    display: none;
}

.show{
    display: flex;
}

.margin-unset-default{
    margin: unset;
}

.margin-header-bottom-30{
    margin-bottom: 30px;
}

.margin-header-bottom-50{
    margin-bottom: 50px;
}

.header-text-white{
    color: var(--text-on-dark);
}

/*Input Components*/

/*Textbox and password textbox*/
.textbox-container{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.textbox-label-icon{
    display: flex;
    flex-direction: row;
}

.textbox-label{
    display: flex;
    justify-content: start;
}

.margin-textbox-label{
    margin-bottom: 10px;
}

.textbox-field-container{
    display: flex;
    flex-direction: row;
}

.input-textbox{
    width: 300px;
    height: 60px;
    border: var(--border-black);
    border-radius: var(--textbox-border-radius);
    flex-shrink: 0;
}

.margin-textbox-caption{
    margin-top: 10px;
    margin-bottom: unset;
}

.textbox-padding{
    padding: 20px;
}

/*Used in textbox template partial*/
.textbox-password-padding{
    padding: 20px 50px 20px 20px;
}

/*Textbox More Information button*/
.button-more-information{
    width: 40px;
    height: 15px;
    background-color: var(--background-transparent);
    border: none;
}

.icon-more-information{
    color: var(--primary);
}

.icon-more-information:hover{
    color: var(--indigo-800);
}

.icon-more-information:focus{
    color: var(--indigo-800);
}

.margin-icon-more-information{
    margin-left: 15px;
}

/*Password visibility icon*/
/*Used in ui-styles-scripts*/
.icon-eye{
    width: 20px;
    height: 20px;
    mask-image:  url("../images/textbox/eye.svg");
    -webkit-mask-image:  url("../images/textbox/eye.svg");
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--gray-600);
}

.icon-eye-slash{
    width: 20px;
    height: 20px;
    mask-image:  url("../images/textbox/eye-slash.svg");
    -webkit-mask-image:  url("../images/textbox/eye-slash.svg");
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--gray-600);
}

.icon-eye-position{
    position: relative;
    top: 20px;
    right: 40px;
    z-index: 25;
    cursor: pointer;
}

/*Checkbox*/

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: var(--white);
    border-style: solid;
    border-width: 3px;
    border-color: var(--primary);
    box-shadow: var(--d-elevation-1);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    box-shadow: var(--d-elevation-2);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 3px;
    bottom: 3px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Buttons*/
/*Used in button template partial*/
.button-close-x{
    width: 23px;
    height: 23px;
    background-color: var(--background-transparent);
    border: none;
    outline: none;
}

.image-close-icon{
    width: 15px;
    height: 15px;
    mask-image:  url("../images/button/close_x.svg");
    -webkit-mask-image:  url("../images/button/close_x.svg");
    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--white);
}

/*Used in button template partial*/
.image-close-icon-dark{
    width: 15px;
    height: 15px;
    mask-image:  url("../images/button/close_x.svg");
    -webkit-mask-image:  url("../images/button/close_x.svg");
    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--black);
}

.button-close-x:hover {
    background-color: var(--primary);
}

.button-close-x:hover .image-close-icon-dark {
    background-color: var(--white);
}

.popup-button-close{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;

}

/*Used in button template partial*/
.button-icon-position{
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -.125em;
}

/*Used in button template partial*/
.image-delete-icon-red{
    width: 16px;
    height: 15px;
    background-image: url("../images/button/exclamation_triangle_red.svg");
    background-repeat: no-repeat;
    margin-right: 12px;
}

/*Legacy style from design*/
.image-delete-icon-white{
    width: 16px;
    height: 15px;
    background-image: url("../images/button/exclamation_triangle_white.svg");
    background-repeat: no-repeat;
    margin-right: 12px;
}

.image-github-icon-swap:hover img{
    content: url("../images/button/logo_github_light.svg")
}

.button-anchor-tag{
    align-self: flex-start;
}

.undecorated-link{
    text-decoration: none
}

/*Used in button template partial*/
.button-reg{
    width: 158px;
    height: 60px;
    color: var(--primary);
    background-color: var(--white);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);
    box-shadow: var(--d-elevation-1);
    flex-shrink: 0;
}

/*Used in button template partial*/
.button-reg-reverse{
    width: 158px;
    height: 60px;
    color: var(--white);
    background-color: var(--primary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);
    box-shadow: var(--d-elevation-2);
    flex-shrink: 0;
}

/*Legacy style from design*/
.button-reg-alt:hover{
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--d-elevation-1);
}

/*Used in button template partial*/
.button-lg{
    width: 201px;
    height: 62px;
    color: var(--text-on-surface);
    background-color: var(--white);
    border: none;
    box-shadow: var(--d-elevation-1);
}

/*Used in button template partial*/
.button-lg:hover{
    color: var(--text-on-dark);
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

/*Used in button template partial*/
.button-lg-delete{
    width: 201px;
    height: 62px;
    color: var(--text-on-surface);
    background-color: var(--white);
    border: none;
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-lg-delete:hover{
    color: var(--white);
    background-color: var(--error);
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-lg-delete:hover .image-delete-icon-red{
    background-image: url("../images/button/exclamation_triangle_white.svg");
}

/*Used in button template partial*/
.button-med{
    width: 150px;
    height: 62px;
    color: var(--primary);
    background-color: var(--white);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary);
    box-shadow: var(--d-elevation-1);
}

/*Used in button template partial*/
.button-reg:hover, .button-med:hover{
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

/*Used in button template partial*/
.button-reg:focus, .button-med:focus{
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

/*Used in button template partial*/
.button-med-delete{
    width: 150px;
    height: 60px;
    color: var(--text-on-surface);
    background-color: var(--white);
    border: none;
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-med-delete:hover{
    color: var(--text-on-dark);
    background-color: var(--error);
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-med-delete:hover .image-delete-icon-red{
    background-image: url("../images/button/exclamation_triangle_white.svg");
}

/*Used in button template partial*/
.button-med-delete-no-icon{
    width: 150px;
    height: 60px;
    color: var(--text-on-dark);
    background-color: var(--error);
    border: none;
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-med-round{
    width: 79px;
    height: 79px;
    background-color: var(--indigo-50);
    border: none;
    border-radius: 50%;
    box-shadow: var(--elevation-1);
}

/*Used in button template partial*/
.button-med-round-icon{
    width: 46px;
    height: 49px;
    color: var(--primary);
}

/*Used in button template partial*/
.button-med-alt{
    width: 140px;
    height: 50px;
    color: var(--black);
    background-color: var(--white);
    border: none;
    padding: unset;
    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: polygon(
		/* top edge */
		0             0%, /* left top */
		0 0%, /* right top */

		/* right edge */
		100% 0,              /* right top */
		100% calc(100% - var(--corner)), /* right bottom */

		/* bottom edge*/
		calc(100% - var(--corner)) 100%, /* right bottom */
		0              100%, /* left bottom*/

		/* left edge */
		0% 0, /* left bottom */
		0% 0               /* left top */
	);

    -webkit-clip-path: polygon(
		/* top edge */
		0             0%, /* left top */
		0 0%, /* right top */

		/* right edge */
		100% 0,              /* right top */
		100% calc(100% - var(--corner)), /* right bottom */

		/* bottom edge*/
		calc(100% - var(--corner)) 100%, /* right bottom */
		0              100%, /* left bottom*/

		/* left edge */
		0% 0, /* left bottom */
		0% 0               /* left top */
	);
}

/*Used in button template partial*/
.button-med-action-alt-backdrop{
    width: 146px;
    height: 56px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    clip-path: polygon(
		/* top edge */
		0             0%, /* left top */
		0 0%, /* right top */

		/* right edge */
		100% 0,              /* right top */
		101% calc(101% - var(--corner)), /* right bottom */

		/* bottom edge*/
		calc(101% - var(--corner)) 101%, /* right bottom */
		0              100%, /* left bottom*/

		/* left edge */
		0% 0, /* left bottom */
		0% 0               /* left top */
	);

    -webkit-clip-path: polygon(
		/* top edge */
		0             0%, /* left top */
		0 0%, /* right top */

		/* right edge */
		100% 0,              /* right top */
		101% calc(101% - var(--corner)), /* right bottom */

		/* bottom edge*/
		calc(101% - var(--corner)) 101%, /* right bottom */
		0              100%, /* left bottom*/

		/* left edge */
		0% 0, /* left bottom */
		0% 0               /* left top */
	);
}

.button-med-action-alt-image{
    margin-right: 12px;
}

/*Used in button template partial*/
.button-med-alt:hover{
    color: var(--text-on-dark);
    background-color: var(--primary);
}

.disabled{
    color: var(--gray-600);
    background-color: var(--gray-500);
    pointer-events: none;
}

/*Used in button template partial*/
.button-spinner-alignment{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Used in button template partial*/
.spinner-not-visible{
    display:none;
}

/*Used in ui-styles-scripts.js*/
.spinner-visible{
    display:flex;
}

/*Used in button template partial*/
.checkmark-not-visible{
    display: none;
}

/*Used in ui-styles-scripts.js*/
.checkmark-visible{
    display: flex;
}

.margin-button-checkmark{
    margin-right: 5px;
}

.error-not-visible{
    display: none;
} 

.error-visible{
    display: flex;
}

.error-save-button{
    color: var(--error);
}

.margin-button-error{
    margin-right: 5px;
}

/*Popups*/

.margin-popup-header{
    margin-top: 18px;
}

/*Attention popup*/
.popup-attention-container{
    width: 566px;
    height: 524px;
    padding: 30px;
    background-color: var(--red-opacity-mid);
    backdrop-filter: var(--backdrop-filter-attention);
}

.popup-attention-content-container{
    width: 506px;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Takes into account default margin on p tag*/
.margin-popup-button{
    margin-top: 36px;
}

.margin-popup-content{
    margin-bottom: 50px;
}

.popup-attention-logo{
    width: 123px;
    height: 110px;
    background-image: url("../images/popup/exclamation-triangle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.popup-attention-message{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-on-dark);
}

/*Feedback popup*/
.popup-feedback-container{
    width: 676px;
    height: 404px;
    background-color: var(--black-opacity-mid);
    backdrop-filter: var(--backdrop-filter-feedback);
    padding-left: 26px;
    padding-top: 33px;
    padding-right: 39px;
    padding-bottom: 65px;
}

.popup-feedback-button-close-container{
    width: 611px;
}

.popup-feedback-content-container{
    width: 100%;
    height:303px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-entry-container{
    width: 676px;
    display: flex;
    flex-direction: row;
    padding-left: 33px;
    margin-top: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.feedback-entry-container:hover{
    background-color: var(--gray-500);
}

.feedback-logo{
    width: 76px;
    height: 76px;
    background-color: var(--white);
    border-radius: 50%;
    border-color: var(--white);
    border-style: solid;
    border-width: thick;
    margin-left: 15px;
}

/*Used in popup-feedback partial*/
.feedback-logo-image-round{
    width: 50px;
    height: 50px;
    margin-left: 8px;
    margin-top: 8px;
}

/*Used in popup-feedback partial*/
.feedback-logo-image-triangle{
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 6px;
}

.feedback-text-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 29px;
    color: var(--text-on-dark);
}

.feedback-link{
    text-decoration: none;
    color: var(--text-on-dark);
}

/*Password reset popup*/
.popup-password-container{
    width: 557px;
    height: 363px;
    padding: 33px;
    background-color: var(--white-opacity-light);
    box-shadow: var(--password-elevation);
    border-radius: 5px;
    backdrop-filter: var(--backdrop-filter-password);
    -webkit-backdrop-filter: var(--backdrop-filter-password);
}

.password-close-button-container{
    width: 494px;
}

.popup-password-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-on-dark);
}

.margin-password-message{
    margin-top: 24px
}

.margin-password-email{
    margin-top: 24px;
    color: var(--indigo-A100);
}

/*Network Node popup*/
.popup-network-container{
    width: 770px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: var(--black-opacity-lighter);
    -webkit-backdrop-filter: var(--backdrop-filter-network);
    backdrop-filter: var(--backdrop-filter-network);
}

.network-close-button-container{
    width: 710px;
}

.popup-network-header{
    width: 770px;
    position: sticky;
    top: 0px;
    transition: background-color 0.3s ease-in-out;
}

/*Used in modal-network-node.js*/
.popup-network-header.header-scroll{
    background-color: var(--white);
    border-radius: 10px;
}

.popup-network-columns{
    display: flex;
    justify-content: space-evenly;
}

.column-network-name{
    width: 200px;
    text-align: center;
    text-wrap: wrap;
}

.column-user-name{
    width: 200px;
    text-align: center;
    text-wrap: wrap;
}

.column-button{
    width: 190px;
    text-align: center;
}

.popup-network-title-container{
    width: 676px;
}

.popup-network-title p{
    color: var(--text-on-dark);
    transition: color 0.3s ease-in-out;
}

/*Used in modal-network-node.js*/
.popup-network-title.header-scroll p{
    color: var(--black);
}

.border-network-title{
    border-bottom: solid;
    border-bottom-color: var(--white);
    border-bottom-width: 1px;
    transition: border-bottom-color 0.3s ease-in-out;
}

/*Used in modal-network-node.js*/
.border-network-title.header-scroll{
    border-bottom-color: var(--black);
}

.margin-header-text{
    margin-top: 15px;
    margin-bottom: 15px;
}

.padding-header-row{
    padding-left: 38px;
    padding-top: 18px;
    padding-right: 38px;
    padding-bottom: 18px;
}

.padding-header-title{
    padding-bottom: 10px;
}

.padding-header-title p:last-child{
    padding-right: 18px;
}

.padding-network-body{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.padding-network-body div:first-child p{
    padding-top: 50px;
}

.padding-network-body div:last-child p{
    padding-bottom: 50px;
}

.padding-network-body div:not(:last-child) p{
    padding-bottom: 20px;
}

.network-entry-text{
    color: var(--text-on-dark);
}

/*Providers Popup*/
.provider-container{
    width: 780px;
    height: 552px;
    padding: 33px;
    background-color: var(--white);
    border-radius: 10px;
    backdrop-filter: var(--backdrop-filter-provider);
}

.provider-close-button-container{
    width: 709px;
}

.provider-button-container{
    width: 630px;
    height: auto;
    overflow: auto;
}

.popup-provider-title{
    margin-bottom: 36px;
}

.provider-button-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.provider-button-row .provider-button:not(:nth-child(3n)){
    margin-right: 93px;
    margin-bottom: 67px;
}

/*Account Page*/

.account-menu-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-terms-and-conditions-container {
    width: 790px;
    padding: 33px;
    background-color: var(--white-opacity-light);
    box-shadow: var(--password-elevation);
    border-radius: 5px;
}

/*Login page*/
.login-container{
    display: flex;
    flex-direction: column;
}

.header-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-overview-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.account-overview-content{
    width: 1008px;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--gray-100);
    box-shadow: var(--account-overview-elevation);
    padding-left: 61px;
}

.margin-overview-title{
    margin-bottom: 30px;
}

.account-user-details-row p{
    margin-right: 5px;
    margin-bottom: unset;
}

.account-user-details-row:not(:last-child){
    margin-bottom: 20px;
}

.account-overview-top{
    width: 879px;
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray-500);
}

.account-user-details-row{
    display: flex;
    flex-direction: row;
}

.account-overview-bottom{
    width: 879px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.login-email-only {
    display: var(--login-email-only);
}

.login-provider-only {
    display: var(--login-provider-only);
}

/*Node Services section*/
.node-services-container{
    margin-bottom: 120px;
}

.header-services{
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-title-border {
    width: 90%;
    border-bottom-style: solid;
    border-bottom-color: var(--gray-500);
    border-bottom-width: 1px;
}

.title-services-text{
    text-align: center;
}

.margin-services-title{
    margin-top: 50px;
    margin-bottom:50px;
    padding-bottom: 50px;
}

.services-margin-div {
    margin-top: 0px;
}

.node-card{
    max-width: 322px;
    height: 256px;
    margin-left: 35px;
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.margin-node-card-title{
    margin-bottom: 10px;
}

/*Used in node.js*/
.height-node-description{
    min-height: 75px;
}

.services-button a:not(:last-child) {
    margin-right: 20px
}

.services-button-margin {
    margin-top: 10px;
}

.node-card-link-button{
    width: 93px;
    height: 30px;
    background-color: var(--background-transparent);
}

.node-card-doc-button{
    width: 153px;
    height: 30px;
    background-color: var(--background-transparent);
}


/*Account Settings*/

.account-top-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.settings-container{
    width: 979px;
    display: flex;
    flex-direction: row;
}

.settings-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-edit-buttons{
    display: flex;
    flex-direction: row;
}

.settings-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image-settings{
    height: 709px;
    background-image: url(../images/background/background-settings.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.header-login h3, .header-login h5{
    margin-bottom: 50px;
}

.login-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 192px;
    padding-right: 214px;
    box-shadow: var(--login-elevation-1);
}

.login-content-left > * {
    width: 300px;
}

.label-container{
    display: flex;
    flex-direction: row;
}

/*Used in index.html template portion*/
.login-error{
    color: var(--error);
    margin-top:10px;
}

.login-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login-link {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.login-link:hover{
    color: var(--primary);
    text-decoration: underline;
}

.choose-different-provider{
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.choose-different-provider:hover{
    color: var(--primary);
    text-decoration: underline;
}

.div-choose-different-provider{
    flex-direction: row;
    align-items: center;
}

.margin-choose-different-provider{
    margin-bottom: 30px;
}

.margin-signin-button{
    margin-top: 30px;
}

.provider-input-container{
    display: flex;
    flex-direction: column;
}

.div-provider-details{
    display: flex;
    flex-direction: column;
}

.div-provider-title{
    flex-direction: column;
}

.div-provider-image-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.div-provider-image-name p{
    margin: unset;
}

.login-provider-logo{
    width: 36px;
    height: 36px;
}

.margin-login-provider-logo{
    margin-right: 30px;
}

.provider-name-hidden{
    visibility: hidden;
}

.login-content-right{
    width: 589px;
    height: 617px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--login-elevation-1);
}

.div-login-type-position{
    position: relative;
    top: 35%;
    height: 100%;
}

.div-login-type-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-on-dark);
}

.div-provider-button{
    width: 100%;
    justify-content: center;
    margin-top: 33px;
}

.div-email-button{
    width: 100%;
    justify-content: center;
    margin-top: 33px;
}

.login-provider-background{
    background-image: url("../images/background/background-login-provider.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.settings-right-buttons{
    display: flex;
    flex-direction: column;
}

.margin-settings-button{
    margin-right: 50px;
}

.settings-right-buttons a:not(:last-child){
    margin-bottom: 94px;
}

.settings-username{
    display: flex;
    flex-direction: column;
}

.margin-settings-username{
    margin-bottom: 30px;
}

/*Account Help*/
.help-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-content{
    width: 1156px;
    padding-left: 135px;
}

.help-link{
    color: var(--primary);
    text-decoration: none;
}

.help-entry{
    margin-top:30px;
}

.documentation-content{
    width: 1156px;
    padding-left: 135px;
}

.margin-documentation-content{
    margin-top: 50px;
}

.margin-documentation-entry{
    margin-top:30px;
}

/*Used in help.html dictionary*/
.margin-github-link{
    margin-left: 10px;
}
/*End Account Page*/

.login-email-background{
    background-image: url("../images/background/background-login-email.png");
    background-repeat: no-repeat;
}

/*Modal*/
/*Used in modal.js*/
.stop-scroll{
    overflow: hidden;
}

dialog {
    border: none;
    padding: unset;
}

/*Provider Modal*/
.dialog-provider{
    background-color: var(--background-transparent);
}

.dialog-provider::backdrop{
    background-color: var(--black-opacity-mid-light);
}

/*Password Reset Modal*/
.dialog-password-reset{
    background-color: var(--background-transparent);
}

.dialog-password-reset::backdrop{
    background-color: var(--black-opacity-darker);
}

.dialog-attention{
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog-attention::backdrop{
    background-color: var(--white-opacity-darker);
}

.dialog-network-node{
    background-color: var(--background-transparent);
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog-network-node::backdrop{
    background-color: var(--black-opacity-mid);
}

/*Data Publishing Form*/

.border-content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--gray-100);
    box-shadow: var(--account-overview-elevation);
    padding-left: 61px;
    padding-right: 61px;
}

.margin-content-section{
    margin-top: 50px;
}

.padding-content-section{
    padding-top: 78px;
    padding-bottom: 78px;
}

.margin-input-label{
    margin-top: 30px;

}

.margin-input-field{
    margin-top: 10px;
}

.btn{
    --bs-body-color: var(--background-transparent);
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: var(--background-transparent);
    --bs-btn-border-radius: 0px;
    border: solid;
    border-width: var(--bs-btn-border-width);
    border-color: var(--background-transparent);
}

.btn-secondary{
    --bs-btn-bg: unset;
    --bs-btn-color: var(--text-on-surface);
    --bs-btn-active-bg: unset;
    --bs-btn-active-color: var(--text-on-surface);
    --bs-btn-active-border-color: var(--background-transparent);
}

.dropdown-list-container{
    width: max-content;
    border-radius: 30px;
    border: 1px solid var(--indigo-200);
    background-color: var(--primary);
    box-shadow: var(--dropdown-shadow);
    padding: 4px 24px;
    margin-bottom: 0px;
}

.dropdown-list-container ul{
    padding-left:unset;
    margin-bottom: unset;
}

.dropdown{
    height: auto !important;
}

.dropdown-toggle::after{
    font-family: Bootstrap-icons;
    content: "\F282";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

/*Default dropdown list*/
.banner-dropdown-list-container{
    display: flex;
    align-items: center;
    min-height: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-default-list{
    background-color: var(--white);
    clear:both;
    width:100%;
    overflow: hidden;
    text-align: center;
    list-style-type:none;
    border-radius: 0px;
    transition: height .4s ease;
}

.dropdown-default-list li{
    text-align: center;
}

.dropdown-default-list li a{
    color: var(--text-on-surface);
    text-decoration: none;
}

.dropdown-default-list-button{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-list-container:has(.dropdown):has(.dropdown-default-list-button[aria-expanded="true"]){
    background-color: var(--white);
}


.dropdown-default-list-button[aria-expanded="true"] .dropdown-list-title{
    color: var(--primary);
}

.dropdown-default-list-button[aria-expanded="false"]{
    background-color: var(--primary);
}

.dropdown-list-container:has(.dropdown):has(.dropdown-default-list-button[aria-expanded="false"]){
    background-color: var(--primary);
}


.dropdown-default-list-button[aria-expanded="false"] .dropdown-list-title{
    color: var(--text-on-dark);
}

/*Chevron rotate for default list type dropdown*/
.dropdown-default-list-button[aria-expanded="false"].dropdown-default-list-icon::after{
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 14.5px;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.dropdown-default-list-button[aria-expanded="true"].dropdown-default-list-icon::after{
    color: var(--primary);
    transform: rotate(-180deg);
    transition: all 0.5s ease-in-out;
}

.dropdown-default-list-item{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.dropdown-default-list-item:hover{
    background-color: var(--indigo250-opacity-light);
}


.dropdown-default-list-item-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.author-parent, .multipoint-parent, .upload-geojson-child, .other-child{
    display: flex;
    flex-direction: column;
}

.author-child, .author-additional-child, .point-child, .multipoint-child, .multipoint-additional-child,
.other-additional-child, .model-additional-child, .input-additional-child {
    display: flex;
    flex-direction: row;
}

.point-child div:not(:last-child), .other-child div:not(:last-child), .other-additional-child div:not(:last-child),
.model-child div:not(:last-child){
    margin-right: 60px;
}

.author-child div:not(:nth-last-child(2)), .author-additional-child div:not(:nth-last-child(2))
, .multipoint-child div:not(:nth-last-child(2)), .multipoint-additional-child div:not(:nth-last-child(2)),
.model-additional-child div:not(:nth-last-child(2)), .input-additional-child div:not(:nth-last-child(2))
{
    margin-right: 60px;
}

.remove-button{
    margin-left: 10px;
}

.author-details, .latitude-child, .longitude-child, .other-details, .model-details{
    display: flex;
    flex-direction: column;
}

.author-button{
    display: flex;
    flex-direction: row;
}

.margin-author-button{
    margin-top: 10px;
}

.remove-button{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.author-button input:not(:last-child){
    margin-right: 30px;
}

.margin-geojson-input-label{
    margin-top: 30px;
}

.margin-title{
    margin-bottom: 30px;
}

.margin-title-underline{
    margin-top : 20px;
    margin-bottom: 30px;
}

.margin-button-add{
    margin-top : 10px;
}

.textarea-geojson{
    width: 450px;
    height: 250px;
}

.error-validation{
    color: var(--error);
}

.margin-geojson-input-error{
    margin-top: 10px;
}

.calendar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendar-checkbox-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
}

.icon-metadata-calendar{
    font-size: 30px;
}

.icon-metadata-container{
    margin-left: 10px;
}

.icon-metadata-container:hover{
    cursor: pointer;
}

.error-message-container, .error-message{
    width: 300px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance:textfield; /* Firefox */
}

input.required:invalid{
    background-color: ivory;
    border: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--error);
    border-radius: var(--textbox-border-radius);
    outline: var(--error);
}

input:required{
    border: var(--border-black);
    border-radius: var(--textbox-border-radius);
}

textarea.required:invalid{
    background-color: ivory;
    border: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--error);
    border-radius: var(--textbox-border-radius);
    outline: var(--error);
}

textarea:required{
    border: var(--border-black);
    border-radius: var(--textbox-border-radius);
}

.required-asterisk{
    color: var(--error);
}