<div id="services-block" class="content-block">
    <h3>Services</h3>
    <div id="services">
        <template id="service-template">
            <div class="service-card">
                <h4 class="service-card-title"></h4>
                <div class="service-card-description"></div>
                <div class="service-card-version">version: <div class="service-card-version-content"></div></div>
                <div class="service-card-links"></div>
            </div>
        </template>
    </div>
</div>
